body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

.bg-sefaz {
  background-color: #2e7d32;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

/* Janela Diário */

#janelaDiario.janelaDiario {
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.janelaDiario .janela {
  position: absolute;
  left: 50%;
  top: 2%;
  height: 95%;
  min-height: 300px;
  width: 95%;
  margin-left: -47.5%;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
}

.janelaDiario .janela .painelTitulo {
  background-color: #fff;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 10px;
  vertical-align: middle;
  /* color: #2e7d32; */
  font-weight: 700;
}

.janelaDiario .janela .painelTitulo .titulo {
  line-height: 40px;
  color: #2e7d32;
  font-weight: 700;
}

.janelaDiario .janela .diario {
  border-radius: 0 0 7px 7px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  bottom: 0;
}