<div id="janelaDiario" class="janelaDiario" style="display: none">
    <div class="janela">
        <div class="painelTitulo">
            <button class="close fechar">&times;</button>
            <span class="titulo">Diário</span>
        </div>
        <div class="diario scroll">
            
        </div>
    </div>
</div>
